body {
  height: 100vh;
  padding: 10px;
  font-size: 14px;
  background: ivory;
  color: teal;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

main {
  display: flex;
  height: 100%;
}

.alerts-container{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 50%;
  padding-right: 10px;
}

.left-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  padding-left: 10px;
  border-left: 1px solid teal;
}

.left-upper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  border-bottom: 1px solid teal;
}

.left-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  padding-right: 10px;
}

.ads-container{
  background-color: red;
  height: 50%;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}


input[type="number"]
{
    font-size:14px!important;
    color: teal;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.bottom-left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 20px 0;
  border-left: 1px solid black;
  padding-left: 10px;
}

.delay-title{
  margin-bottom: 5px;
}

.delay-text{
  margin-bottom: 15px;
  font-size: 13px;
}

.roshan-inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.roshan-input-time {
  padding: 0 10px;
  margin-top: 20px;
  width: 50%;
}

.last-item-coffe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.volume-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.volume-container-actions {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.volume-container-actions a {
  margin-right: 20px;
}

.volume-container-actions p {
  width: 45%;
}

.new-row {
  display: flex;
  justify-content: space-between;
}