body {
  height: 100vh;
  padding: 10px;
  font-size: 14px;
  background: ivory;
  color: teal;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

main {
  display: flex;
  border-bottom: 1px solid teal;
}

.alerts-container{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 50%;
  padding-right: 10px;
}

.left-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding-left: 10px;
  border-left: 1px solid teal;
}

.plus-container{
  height: 50%;
}

.ads-container{
  background-color: red;
  height: 50%;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}


input[type="number"]
{
    font-size:14px!important;
    color: teal;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
